---
title: Howler
timezone: UTC
collections:
  logos:
    title: Logos
    output: true
  posts:
    title: Posts
    output: true
  team:
    title: Team
    output: true
  uploads:
    title: Uploads
    output: true
description: Howler Brand is the creative studio of Howler Monkey Productions.
logo: "/uploads/howler-donate.png"
teaser: 
locale: en
url: 
feed:
  path: atom.xml
sass:
  sass_dir: _sass
  style: compressed
permalink: "/:categories/:title/"
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
- jekyll-sitemap
- jekyll-gist
- jekyll-feed
owner:
  name: 
  email: 
  twitter: 
  google:
    ad-client: 
    ad-slot: 
  bio: 
  avatar: bio-photo.jpg
  disqus-shortname: 
include:
- ".htaccess"
exclude:
- "*.less"
- "*.sublime-project"
- "*.sublime-workspace"
- ".asset-cache"
- ".bundle"
- ".jekyll-assets-cache"
- ".sass-cache"
- CHANGELOG
- Capfile
- Gemfile
- Gruntfile.js
- LICENSE
- README
- Rakefile
- config
- gulpfile.js
- lib
- log
- node_modules
- package.json
- spec
- tmp
intro: 'Lorem Khaled Ipsum is a major key to success. Mogul talk. Lion! The key to
  more success is to have a lot of pillows. Major key, don’t fall for the trap, stay
  focused. It’s the ones closest to you that want to see you fail. It’s important
  to use cocoa butter. It’s the key to more success, why not live smooth? '
