<header id="masthead{% if page.title == 'About' %}-about{% endif %}">
  <div id="page-wrapper">

  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title{% if page.title == 'About' %}-about{% endif %}"><img src="{{ site.logo }}" alt="Howler Brand"></a>
    <!-- <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav> -->

    <h2>{{ site.description }}</h2>
  </div><!-- /.inner-wrap -->
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
